<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-mail confirmed</title>
    <%- include('style.ejs') %>
  </head>
  <body>
    <h1>E-mail confirmed</h1>
    <p>
      The address <%= confirmedAddress %> was confirmed and now you can use it
      to login
    </p>
    <p>Thank you!</p>
    <br />
    <p>#URTheBest</p>
  </body>
</html>
